html { 
  background: url(landingBackground.png) no-repeat center center fixed; 
  background-size: cover;
}
button {
	background-color: #FFCE0E;
	height: 40px;
	height: 10vw;
	max-height: 50px;
	width: 150px;
	width: 30vw;
	max-width: 200px;
	font-size: 24px;
	font-size: calc(20px + .5vw);
	border: none;
	border-radius: 10px;
	border-radius: 3vw;
	margin: 15px;
	margin: 2vw;
	font-family: Futura;
	font-weight: bold;
	text-align: center;
	box-shadow: 2px 2px 4px #000000;
	outline-style: none;
}

button:hover {
	background-color: #FFDF1F;
}

button:active {
  background-color: #EEBD0D;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  outline: none;
}

img {
	max-width: 100%;
	margin: auto;
	display: block;
}

.buttons {
	text-align: center;
}

.university-footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #ffffff;
}

@font-face {
	font-family: Futura;
	src: url(GlacialIndifference-Regular.otf);
}