html { 
  background: url(Assets/landingBackground.png) no-repeat center center fixed; 
  background-size: cover;
}
button.home {
	background-color: #FFCE0E;
	height: 40px;
	width: 150px;
	border: none;
	border-radius: 10px;
	font-family: Futura;
	font-weight: bold;
	text-align: center;
	font-size: 24px;
	box-shadow: 2px 2px 4px #000000;
	margin: 15px;
	outline-style: none;
}

button.home:hover {
	background-color: #FFDF1F;
}

button.home:active {
  background-color: #EEBD0D;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  outline: none;
}

img {
	max-width: 100%;
	margin: auto;
	display: block;
}

.buttons {
	text-align: center;
}

.university-footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #ffffff;
}

.navLinks {
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Futura;
	font-weight: bold;
	text-align: center;
	font-size: 24px;
	color: #ffce0e;
}

a:link {
	text-decoration: none;
	color: black;
}
a:visited {
	text-decoration: none;
	color: black;
}


@font-face {
	font-family: Futura;
	src: url(Assets/GlacialIndifference-Regular.otf);
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdownContent {
    display: none;
	width: 100%;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}
.show {
	display: block;
}